@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-1 { font-family: 'Roboto', sans-serif; }
.font-2 { font-family: 'Lobster', cursive; }
.font-3 { font-family: 'Open Sans', sans-serif; }
.font-4 { font-family: 'Montserrat', sans-serif; }
.font-5 { font-family: 'Pacifico', cursive; }
.font-6 { font-family: 'Raleway', sans-serif; }
  
body {
  color: theme('colors.text-primary');
  background-color: theme('colors.background-primary');
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes blur {
  0% {
    filter: blur(4px);
    opacity: 0.5;
  }
  25% {
    filter: blur(0px);
    opacity: 1;
  }
  75% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(4px);
    opacity: 0.5;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-75%);
  }
  25% {
    opacity: 1;
    transform: translateY(0%);
  }
  75% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(75%);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(75%);
  }
  25% {
    opacity: 1;
    transform: translateY(0%);
  }
  75% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-75%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-75%);
  }
  25% {
    opacity: 1;
    transform: translateX(0%);
  }
  75% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(75%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(75%);
  }
  25% {
    opacity: 1;
    transform: translateX(0%);
  }
  75% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-75%);
  }
}

/* Added styles for layout */
body {
  flex-direction: row;
}

aside {
  flex-basis: 25%;
}

main {
  flex-basis: 50%;
}