@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-1 { font-family: 'Roboto', sans-serif; }
.font-2 { font-family: 'Lobster', cursive; }
.font-3 { font-family: 'Open Sans', sans-serif; }
.font-4 { font-family: 'Montserrat', sans-serif; }
.font-5 { font-family: 'Pacifico', cursive; }
.font-6 { font-family: 'Raleway', sans-serif; }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-oliveGrey text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
